<div style="height: 50px;"></div>
<div style="text-align: center;">
    <h1>Gestion des tâches</h1>
</div>
<div style=" text-align: center;">
    <p>
        Vous pouvez ajouter une nouvelle tâche ou consulter le calendrier en ciquant sur les boutons "Ajout tâche" ou "Calendrier" ci-dessous.
    </p>
</div >
<div style="text-align: center; margin-top: 20px;">
    <a type="button" href="/tache/ajout-tache" class="btn btn-primary btn-lg btn-success" style="margin-right: 50px;">Ajout tâche</a>
    <a type="button" href="/tache/calendrier" class="btn btn-primary btn-lg btn-success">Calendrier</a>

</div>
<div style="height: 50px;"></div>
<div style="text-align: center;">
    
</div>
<router-outlet></router-outlet>