
<div style="text-align:center">
  <h1>
    Logo
  </h1>
</div>

<div>
  <button type="button" class="btn btn-primary">Gestion des utilisateurs</button>
</div>
<div>
  <button type="button" class="btn btn-success">Gestion des affaires</button>
</div>

<div>
  <button type="button" class="btn btn-info">Gestion des tâches</button>
</div>
<div>
  <button type="button" class="btn btn-warning">Gestion des tribunaux</button>
</div>
<div>
  <button type="button" class="btn btn-danger">Tableau de bord</button>
</div>

<!-------------- Footer -------------------------->

<footer class="page-footer font-small footer-bg pt-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-footer">© 2020 Copyright: Antoine - Benjamin - Cécile - Marion - Sarah
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



<router-outlet></router-outlet>