<p>user-list works!</p>

<div><form [formGroup]="form">
    
    <input type="text" class="form-control" placeholder="Nom de l'utilisateur" formControlName="name">
</form>
    <button type="submit" class="btn btn-primary" (click)="finduserName()">Rechercher</button>
    <tr *ngFor="let ut of userSS">
        <td>{{ut.email}}</td>

    </tr>
    <!-- {{userS}}<br/> -->



    
</div>

<div>

    <tr *ngFor="let u of utilisateurs">
        <td>{{u.idUtilisateur}}</td>
        <td>{{u.email}}</td>
        <td>{{u.nomUtilisateur}}</td>
    </tr>



</div>
