<div class="row">
    <div class="col-md-4">
        <div class="img-logo" style="text-align:left;">
            <a href=""role="button">
                <img src ="assets/logo_happyskies.png" alt="logo-happyskies" 
                height="150px" width="150px"/>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <h1 style="text-align: center;padding-top:75px">Gestion des utilisateurs</h1>
    </div>
    <div class="col-md-4" style="text-align: right;">
        <a href=""><button type="button" style="margin-right: 50px; margin-top: 50px;" class="btn btn-primary">Retour</button></a>
    </div>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a href="/user/form"><button type="button" class="btn btn-success" style="margin-right: 50px;" >Ajouter un utilisateur</button></a>
    <a href="/user/list"><button type="button" class="btn btn-success">Liste des utilisateurs</button></a>
</div>

<router-outlet></router-outlet>

