<div style="text-align:center">
    <h1>
      Logo
    </h1>
  </div>
  
  <div>
    <a href="/user"><button type="button" class="btn btn-primary">Gestion des utilisateurs</button></a>
  </div>
  <div>
    <a href="/affaire/accueil"><button type="button" class="btn btn-success">Gestion des affaires</button></a>
  </div>
  
  <div>
    <a href="/tache"><button type="button" class="btn btn-info">Gestion des tâches</button></a>
  </div>
  <div>
    <a href="/tribunaux"><button type="button" class="btn btn-warning">Gestion des tribunaux</button></a>
  </div>
  <div>
    <a href="/TDB"><button type="button" class="btn btn-danger">Tableau de bord</button></a>
  </div>
