<div class="row">
    <div class="container">
        <form> 
            <fieldset fieldset class="form-group">
                <legend >Ajout d'une tâche</legend>
              
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" for="dateDreation">Date de création</label>
                    <input class="form-control form-control-lg" type="text" placeholder="01/01/2001" id="dateDreation">
                </div>
            
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" for="titre">Titre</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Titre" id="titre">
                </div>

                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" for="description">Description</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Description" id="description">
                </div>

                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" for="statutAudience">Statut audience</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Statut audience" id="statutAudience">
                </div>
              
                <button href ="/tache/ajout" type="submit" class="btn btn-primary">Ajouter</button>
            </fieldset>
        </form>
    </div>
</div>
