<div style="margin-right: 20%;margin-left:26%">
  <tr class="table-secondary" style="border: solid 2px; border-radius:5px;border-color: white;
      text-align:center;font-weight:bold;font-size:large">
      <td style="border: solid 1px; border-color:white;padding-top:5px;padding-bottom:5px;width:200px;">Reference</td>
      <td style="border: solid 1px; border-color:white;padding:20px;width:200px;">Titre</td>
      <td style="border: solid 1px; border-color:white;padding:20px;width:200px;">Description</td>
  </tr>
  <div *ngFor="let a of affaires">
  <tr class="table-secondary" style="border: solid 2px; border-radius:5px;border-color: white;
   text-align:center;">
      <td style="border: solid 1px; border-color:white;padding:20px;width:200px;top:50%">{{a.reference}}</td>
      <td style="border: solid 1px; border-color:white;padding:20px;width:200px;top:50%">{{a.titre}}</td>
      <td style="border: solid 1px; border-color:white;padding:20px;width:200px;top:50%">{{a.description}}</td>
  </tr>
  </div>
  </div>
