<div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
  <h2>Recherche des Affaires</h2>
</div>
<div class="row">
  <div class="container">
    <form [formGroup]="form">
      <fieldset fieldset class="form-group">
        <div class="form-group">
          <label class="form-control form-control-lg" for="reference">Référence de l'affaire</label>
          <input class="form-control form-control-lg" placeholder="REF00001" type="text" name="reference" id="reference" formControlName="reference" />
          <br>
          <input class="btn btn-primary" type="submit" value="Rechercher" (click)="findByRef()"/>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<br>
<div class="row" *ngIf="affichage">
  <div class="container">
    <div class="card">
      <div class="card-header">Résultat</div>
      <div class="card-body" >
        <table class="table" *ngIf="Affaire != null">
          <thead class="thead-light">
            <th>Réference</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Statut</th>
          </thead>
          <tr>
            <td> {{Affaire.reference}}</td>
            <td> {{Affaire.titre}}</td>
            <td> {{Affaire.description}}</td>
            <td> {{Affaire.statut}}</td>
          </tr>
        </table>

        <table class="table" *ngIf="Affaire === null">
            <p>L'élement que vous cherchez n'existe pas.</p>
          </table>
      </div>
    </div>
  </div>
</div>


