<div class="row">
    <div class="col-md-4">
    <div class="img-logo" style="text-align:left;">
        <a href=""role="button">
            <img src ="assets/logo_happyskies.png" alt="logo-happyskies" 
            height="200px" width="200px"/>
        </a>
    </div>
</div>
<div class="col-md-4">
<h2 style="text-align: center;padding-top:75px">Affaires à venir</h2>
</div>
</div>

<div class="row" style="text-align: center;">
    <div class="col-md-4"><a class="btn btn-success btn-lg" role="button" href="/encours">Affaires en cours</a></div>
    <div class="col-md-4"><a class="btn btn-warning btn-lg" role="button" href="/avenir">Affaires à venir</a></div>
    <div class="col-md-4"><a class="btn btn-danger btn-lg" role="button" href="/archive">Affaires archivées</a></div>
</div>
<br/>
<br/>
<div style="margin-right: 20%;margin-left:32%">
  <tr class="table-secondary" style="border: solid 2px; border-radius:5px;border-color: white;
      text-align:center;font-weight:bold;font-size:large">
      <td style="border: solid 1px; border-color:white;padding-top:5px;padding-bottom:5px;width:200px;">Reference</td>
      <td style="border: solid 1px; border-color:white;padding:20px;width:200px;">Titre</td>
      <td style="border: solid 1px; border-color:white;padding:20px;width:200px;">Description</td>
  </tr>
  <div *ngFor="let a of affaires">
  <tr class="table-secondary" style="border: solid 2px; border-radius:5px;border-color: white;
   text-align:center;">
      <td style="border: solid 1px; border-color:white;padding:20px;width:200px;top:50%">{{a.reference}}</td>
      <td style="border: solid 1px; border-color:white;padding:20px;width:200px;top:50%">{{a.titre}}</td>
      <td style="border: solid 1px; border-color:white;padding:20px;width:200px;top:50%">{{a.description}}</td>
  </tr>
  </div>
  </div>